@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
  font-weight: 500, 800;
}

body {
  --custom-yellow:  hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  background: var(--custom-yellow);

  block-size: 100vh;
  margin: 0;

  font-size: 16px;
  font-family:'Figtree', Verdana, Geneva, Tahoma, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;

  box-sizing: border-box;
  block-size: 32.625rem;
  inline-size: 24rem;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 1.25rem;
  border: solid var(--gray-950) 1px;
  box-shadow: 0.25rem 0.25rem;
}

.preview {
  block-size: 200px;
  border-radius: 10px;
}

.tag {
  background: var(--custom-yellow);
  padding-inline: 0.75rem;
  padding-block: 0.25rem;

  font-weight: 800;
  font-size: 0.75rem;

  border-radius: 0.25rem;
}