* {
  margin: 0;
}
body {
  --custom-yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  background: var(--custom-yellow);

  font-size: 16px;

  block-size: 100vh; /* height */

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;

  inline-size: 24rem; /* width */
  block-size: 32rem; /* height */
  padding: 1rem;

  border-radius: 2rem;
  border: 1px solid var(--gray-950);
  box-shadow: 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > img.preview {
  inline-size: 100%;
  block-size: min-content;
  object-fit: contain;

  border-radius: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tags {
  display: flex;
  flex-direction: row;
  align-content: baseline;
}

.tags > span {
  display: block;
  background-color: var(--custom-yellow);

  block-size: 1.5rem;
  inline-size: 5rem;
  padding: 0.25rem;

  text-align: center;
  font-weight: 800;

  border-radius: 0.25rem;
}

address {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 0.5rem;
}

address > img {
  block-size: 2rem;
  inline-size: 2rem;
}

address > p{
  font-style: normal;
  font-weight: 800;
}